<h1><%= @semester.semester_name%> Semester </h1>

<%= notice %>
<br>

Semester Name: <%= @semester.semester_name%>
<br>
Start Date: <%= @semester.start_date.strftime("%d %B %Y")%>
<br>
End Date: <%= @semester.end_date.strftime("%d %B %Y")%>
<br>
<%= link_to 'Edit Semester Details', edit_semester_path(@semester)%>
<br>

<br>
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Description</th>
      <th>Floor</th>
      <th>Details</th>
      <th>Day</th>
      <th>Hours</th>
      <th>Assigned User</th>
    </tr>
  </thead>

  <% @shift_templates.each do |sh| %>
  <tr>
    <td><%= sh.shift_detail.location %></td>
    <td><%= sh.shift_detail.description %></td>
    <td><%= sh.floor %></td>
    <td><%= sh.details %></td>
    <td><%= sh.day %></td>
    <td><%= sh.hours %></td>
    <td><%= sh.user.username unless sh.user.nil?%></td>
    <td><%= link_to 'Edit', edit_semester_shift_path(@semester)%></td>
  </tr>
  <% end %>
</table>


<br>
<%= link_to 'Create New Shift', new_semester_shift_path(@semester) %>
<br>
<%= link_to 'Back', semesters_path %>
