<h1>Semester without the s </h1>

<%= notice %>
<br>


Semester Name: <%= @semester.semester_name%>
<br>
Start Date: <%= @semester.start_date.strftime("%d %B %Y")%>
<br>
End Date: <%= @semester.end_date.strftime("%d %B %Y")%>
<br>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Location</th>
      <th>Description</th>
      <th>Day of the week</th>
      <th>Time</th>
      <th>Shifters</th>
    </tr>
  </thead>

  <% @shifts.each do |sh| %>
  <tr>
    <td><%= link_to "#{sh.id}",  semester_shift_path(@semester,sh) %></td>
    <td><%= sh.location %></td>
    <td><%= sh.description %></td>
    <td><%= sh.day %></td>
    <td><%= sh.time.strftime("%r")%></td>
  </tr>
  <% end %>
</table>




<br>
<%= link_to 'Create New Shift', new_semester_shift_path(@semester) %>
<br>
<%= link_to 'Back', semesters_path %>
