<h1>Semester without the s </h1>

<%= notice %>


Semester Name: <%= @semester.semester_name%>
<br>
Start Date: <%= @semester.start_date.strftime("%d %B %Y")%>
<br>
End Date: <%= @semester.end_date.strftime("%d %B %Y")%>

<br>
<%= link_to 'Back', semesters_path %> 
