<table>
    <tbody>
        <tr>
            <th>Username</th>
            <th>Building</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.building %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
                <td>
                    <%= form_tag revoke_path(user), :method => "delete" do %>
                        <%= submit_tag "Delete", :id => "#{user.username}_delete" %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>