<h2>Create a New Resident</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field" style="display: none;">
    <%= f.label :password%> <br />
    <%= f.text_field :password, value: 5108481936 %>
  </div>

  <div class="field">
    <%= f.label :building%> <br />
    <%= f.select :building, current_user.buildings %>
  </div>

  <div class="actions">
    <%= f.submit "Sign them up" %>
  </div>
<% end %>

<%= link_to "Back", user_path(current_user.id) %>
