<div class="search">
    <%= form_with :url => "/users.js", :method => :get do |f| %>
        <%= f.text_field :query, autofocus: true %>
        <%= f.submit "Search" %>
    <% end %>
</div>
<table class="table" id="users">
    <%= render "users" %>
</table>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<%= link_to 'Back', user_path(current_user) %>
