%h1 Welcome #{current_user.username}

- 3.times do
  %br

Remaining Hours: #{current_user.hours}
%br
Current Fines: #{current_user.fines}

- 7.times do
  %br

current_user.shifts.each do |shift|
  = link_to shift.time + " " + shift.name + " " + shift.location, shift_path(shift.id)

- 7.times do
  %br

= link_to "My preferences", user_preferences_path(params[:id])

- 3.times do
  %br

- if current_user.manage?
  = link_to "Add a Resident", new_user_registration_path
  %br
  = link_to "Add Multiple Residents", mass_add_path
  - 3.times do
    %br

= link_to "Sign Out", destroy_user_session_path, method: :delete
