<h1><%= @semester.semester_name%> Semester </h1>

<%= notice %>
<br>

Semester Name: <%= @semester.semester_name%>
<br>
Start Date: <%= @semester.start_date.strftime("%d %B %Y")%>
<br>
End Date: <%= @semester.end_date.strftime("%d %B %Y")%>
<br>
<%= link_to 'Edit Semester Details', edit_semester_path(@semester)%>
<%= button_to "Delete this Semester", { action: "destroy", id: @semester.id },method: :delete, data: { confirm: "Are you sure?" } %>
<br>
<br>
<h2>All Shifts</h2>
<%= link_to "View weekly shifts", semester_path(@semester) %>
<br>
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Description</th>
      <th>Floor</th>
      <th>Details</th>
      <th>Day</th>
      <th>Hours</th>
      <th>Assigned User</th>
      <th>is checked off?</th>
      <th>Date</th>
    </tr>
  </thead>

  <% @shifts.each do |sh| %>
  <tr>
    <td><%= sh.shift_template.shift_detail.location %></td>
    <td><%= sh.shift_template.shift_detail.description %></td>
    <td><%= sh.shift_template.floor %></td>
    <td><%= sh.shift_template.details %></td>
    <td><%= sh.shift_template.day %></td>
    <td><%= sh.shift_template.hours %></td>
    <td><%= sh.user.username || "unassigned"%></td>
    <td><%= sh.is_checked_off|| false %></td>
    <td><%= sh.date.strftime("%d-%B-%Y") %></td>
    <td><%= link_to 'Edit', edit_semester_shift_path(@semester,sh)%></td>
  </tr>
  <% end %>
</table>


<br>
<%= link_to 'Back', semesters_path %>
