<h1>Create New Shift</h1>

<%= notice %>

<%= form_tag semester_shifts_path, :method => "post" do %>

  <%= label :shift, :location, 'Shift Location'%>
  <%= text_field :shift, :location%>
  
  <%= label :shift, :description, 'Shift Description'%>
  <%= text_field :shift, :description%>

  <%= label :shift, :day, 'Day of the week'%>
  <%= select_tag 'shift[day]', options_for_select(Date::DAYNAMES) %>
  
  <%= label :shift, :time, 'Time of shift'%>
  <%= time_select("shift", "time")%>

  <%= submit_tag 'Save Shift'%>
  
<% end %>

<%= link_to 'Back', semesters_path %> 