<%= render 'preferences/simple_header' %>
<h1>Editing Preference</h1>
<p id="error"><%= alert %></p>


<%= form_tag user_preference_path(@user, @preference), :method => "put", :id => "preference" do %>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#">Exterior Cleaning</a></li>
    <li><a href="#">Interior Cleaning</a></li>
    <li><a href="#">Kitchen</a></li>
    <li><a href="#">Rotating Shift</a></li>
    <li><a href="#">WR</a></li>
  </ul>
    <% Preference.shifts.each do |sh| %>
      <%= select_tag "preference[shift][#{sh}]", options_for_select((Array 0..5), :selected => @preference.shift_hash[sh]) %>
      <%= label_tag "preference[shift][#{sh}]", sh %>
      <br>
    <% end %>
  <br>
  <table class= 'table'>
    <tbody>
      <tr>
        <th>Times</th>
        <% Preference.times.each do |t| %>
          <th><%= t %></th>    
        <% end %>
      </tr>
      <tr>
      <% Preference.days.each do |d| %>
        <tr>
          <td>
          <%= d %>
          </td>
          <% Preference.times.each do |t| %>
            <td>
            <%= select_tag "preference[schedule][#{d}][#{t}]", options_for_select(["+", "-", "x", "?", " "], :selected =>  @preference.schedule_hash[d][t]) %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tr>
    </tbody>
  </table>
  
  <br>
  <%= submit_tag "Save Preferences" %>
<% end %>


<%= link_to 'Show', user_preference_path(@user, @preference) %> |
<%= link_to 'Back', user_path(@user) %>
