<h1>Editing Preference</h1>
<p id="error"><%= alert %></p>
<%= form_with :url => edit_user_preference_path(@user, @preference, :format => :js), :method => :get do |f| %>
  <%= f.label :key, "Filter by" %>
  <%= f.select :key, ["location", "description"], selected: @key %>
  <%= f.text_field :query, autofocus: true, placeholder: "Query", value: @query_ %>
  <%= f.submit "Filter" %>
<% end %>
<%= form_with :url => edit_user_preference_path(@user, @preference, :format => :js), :method => :get do |f| %>
  <%= f.select :rank, (Array 1..5) %>
  <%= f.submit "Apply on all displayed" %>
<% end %>
<%= form_tag user_preference_path(@user, @preference), :method => "put", :id => "preference" do %>
  <!--<ul class="nav nav-pills nav-stacked">-->
  <!--  <li><a href="#">Exterior Cleaning</a></li>-->
  <!--  <li><a href="#">Interior Cleaning</a></li>-->
  <!--  <li><a href="#">Kitchen</a></li>-->
  <!--  <li><a href="#">Rotating Shift</a></li>-->
  <!--  <li><a href="#">WR</a></li>-->
  <!--</ul>-->
  <%= render "shifts" %>
<% end %>


<%= link_to 'Show', user_preference_path(@user, @preference) %> |
<%= link_to 'Back', user_path(@user) %>
