<h1>Editing Preference</h1>

<%= form_tag user_preference_path(@user, @preference), :method => "put", :id => "preference" do %>
  <% Preference.shifts.each do |sh| %>
    <%= select_tag "preference[shift][#{sh}]", options_for_select(Array 0..5) %>
    <%= label_tag "preference[shift][#{sh}]", sh %>
    <br>
  <% end %>
  <div class="table">
    <div class="tbody">
      <div class="tr">
        <div class="th">
        </div>
        <% Preference.times.each do |t| %>
          <div class = "th"><%= t %></div>    
        <% end %>
      </div>
      <% Preference.days.each do |d| %>
        <div class="tr">
          <div class="td">
          <%= d %>
          </div>
          <% Preference.times.each do |t| %>
            <!--<%= label_tag "preference[schedule][#{d}][#{t}]", t %>-->
            <div class="td">
            <%= select_tag "preference[schedule][#{d}][#{t}]", options_for_select(["+", "-", "x", "?", " "]) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <%= submit_tag "Save Preferences" %>
<% end %>


<%= link_to 'Show', user_preference_path(@user, @preference) %> |
<%= link_to 'Back', user_path(@user) %>
