<h1>New Preference</h1>
<p id="error"><%= alert %></p>
<%= form_with :url => new_user_preference_path(@user, :format => :js), :method => :get do |f| %>
  <%= f.label :key, "Filter by" %>
  <%= f.select :key, ["location", "description"], selected: @key %>
  <%= f.text_field :query, autofocus: true, placeholder: "Query", value: @query_ %>
  <%= f.submit "Filter" %>
<% end %>
<%= form_with :url => new_user_preference_path(@user, :format => :js), :method => :get do |f| %>
  <%= f.select :rank, (Array 0..5) %>
  <%= f.submit "Apply on all displayed" %>
<% end %>
<%= form_tag user_preferences_path(@user), :method => "post", :id => "preference" do %>
  <%= render "shifts" %>
<% end %>

<%= link_to 'Back', user_path(@user) %>
