<h1>New Preference</h1>
<p id="error"><%= alert %></p>
<%= form_with :url => new_user_preference_path(@user, :format => :js), :method => :get do |f| %>
  <%= f.label :key, "Filter by" %>
  <%= f.select :key, ["location", "description"], selected: @key %>
  <%= f.text_field :query, autofocus: true, placeholder: "Query", value: @query_ %>
  <%= f.submit "Filter" %>
<% end %>
<%= form_with :url => new_user_preference_path(@user, :format => :js), :method => :get do |f| %>
  <%= f.select :rank, (Array 1..5) %>
  <%= f.submit "Apply on all displayed" %>
<% end %>
<%= form_tag user_preferences_path(@user), :method => "post", :id => "preference" do %>
  <div id="shifts">
    <%= render "shifts" %>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <th>Times</th>
        <% Preference.times.each do |t| %>
          <th><%= t %></th>
        <% end %>
      </tr>
      <tr>
      <% Preference.days.each do |d| %>
        <tr>
          <td>
          <%= d %>
          </td>
          <% Preference.times.each do |t| %>
            <td>
            <%= select_tag "preference[schedule][#{d}][#{t}]", options_for_select(["+", "-", "x", "?", " "]) %>
            </td>
          </td>
          <% end %>
        <tr>
      <% end %>
      </tr>
    <tbody>
  </table>
  <br>
  <%= submit_tag "Save Preferences" %>
<% end %>

<%= link_to 'Back', user_path(@user) %>
