<h1>New Preference</h1>

<%= form_tag preferences_path, :method => "post" do %>
  <% Preference.shifts.each do |sh| %>
    <%= label_tag "shift[#{sh}]", sh %>
    <%= select_tag "shift[#{sh}]", options_for_select(Array 0..5) %>
  <% end %>
  <br>
  <% Preference.days.each do |d| %>
    <%= d %>
    <% Preference.times.each do |t| %>
      <%= label_tag "schedule[#{d}][#{t}]", t %>
      <%= select_tag "schedule[#{d}][#{t}]", options_for_select(["+", "-", "x", "?"]) %>
    <% end %>
  <% end %>
  <br>
  <%= submit_tag "Save Preferences" %>
<% end %>

<!--to be replaced by personal page path-->
<%= link_to 'Back', preferences_path %> 
