<%= render 'preferences/simple_header' %>
<p id="notice"><%= notice %></p>
<%= javascript_include_tag('CollapsibleLists.js') %>
<h1>Your preferences: </h1>

<div id="preference">
<ul class = "collapsibleList">
<li class = "collapseTitle">
  Exterior Cleaning
  <ul>
    <% Preference.shifts.each do |sh| %>
      <span class="shift" id="<%= "preference[shift][#{sh}]" %>" >
          <%= @preference.shift_hash[sh] %>
      </span>
      <%= label_tag "preference[shift][#{sh}]", sh %>
      <br>
    <% end %>
  </ul>
</li>
<li class = "collapseTitle">
  Interior Cleaning
  <ul>
    <li>Test</li>
  </ul>
</li>
<li class = "collapseTitle">
  Kitchen
  <ul>
    <li>Test</li>
  </ul>
</li>
<li class = "collapseTitle">
  Rotating Shift
  <ul>
    <li>Test</li>
  </ul>
</li>
<li class = "collapseTitle">
  WR
  <ul>
    <li >Test</li>
  </ul>
</li>
</ul>

  <table class= 'table'>
  <tbody>
    <tr>
      <th>Times</th>
      <% Preference.times.each do |t| %>
        <th><%= t %></th>    
      <% end %>
    </tr>
    <tr>
    <% Preference.days.each do |d| %>
      <tr>
        <td>
        <%= d %>
        </td>
        <% Preference.times.each do |t| %>
          <td id="<%= "preference[schedule][#{d}][#{t}]" %>">
          <%= @preference.schedule_hash[d][t] %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tr>
  </tbody>
</table>
  <br>
</div>

<div class = "ending">
  <%= link_to 'Edit', edit_user_preference_path(@user, @preference) %> |
  <%= link_to 'Back', user_path(@user) %>
</div>
