<%= render 'preferences/simple_header' %>
<p id="notice"><%= notice %></p>
<h2>Your preferences: </h2>

<div id="preference">
  <% Preference.shifts.each do |sh| %>
    <span class="shift" id="<%= "preference[shift][#{sh}]" %>" >
        <%= @preference.shift_hash[sh] %>
    </span>
    <%= label_tag "preference[shift][#{sh}]", sh %>
    <br>
  <% end %>

  <table class= 'table'>
  <tbody>
    <tr>
      <th>Times</th>
      <% Preference.times.each do |t| %>
        <th><%= t %></th>    
      <% end %>
    </tr>
    <tr>
    <% Preference.days.each do |d| %>
      <tr>
        <td>
        <%= d %>
        </td>
        <% Preference.times.each do |t| %>
          <td id="<%= "preference[schedule][#{d}][#{t}]" %>">
          <%= @preference.schedule_hash[d][t] %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tr>
  </tbody>
</table>
  <br>
</div>

<%= link_to 'Edit', edit_user_preference_path(@user, @preference) %> |
<%= link_to 'Back', user_path(@user) %>
