<h1>Create New Shift</h1>

<%= notice %>

<%= form_tag semester_shift_templates_path, :method => "post" do %>

<table class="table">

  <tr>
      <td> <%= label :shift_detail, :detail, 'Location / Description'%> </td>
      <td> <%= select_tag 'shift_detail', options_for_select(@details), include_blank: "Other (type below)" %> </td>
  </tr>

  <tr>
      <td> </td>
      <td> <%= text_field :shift_detail, :new_location, value: "i.e. \"Bathroom\""%>
      <%= text_field :shift_detail, :new_description, value: "i.e. \"Deep Clean\""%> </td>
  </tr>

  <tr>
      <td> <%= label :shift_template, :details, 'Details'%> </td>
      <td> <%= text_field :shift_template, :details, value: "i.e. \"After Dinner\""%> </td>
  </tr>

  <tr>
      <td> <%= label :shift_template, :floor, 'Floor'%> </td>
      <td> <%= text_field :shift_template, :floor, value: "i.e. \"10's\""%> </td>
  </tr>

  <tr>
      <td> <%= label :shift_template, :day, 'Day / Time'%> </td>
      <td> <%= select_tag 'shift_template[day]', options_for_select(Preference.days) %>
      <%= select_tag 'shift_template[time]', options_for_select(Preference.times), include_blank: "Any" %> </td>
  </tr>

  <tr>
      <td> <%= label :shift_template, :hours, 'Hours'%> </td>
      <td> <%= select_tag 'shift_template[hours]', options_for_select([1,2,3,4,5]) %> </td>
  </tr>
  <tr>
      <td> <%= label :shift_template, :assigned_user, 'Assigned_user'%> </td>
      <td> <%= select_tag 'shift_template[assigned_user]', options_for_select(@users), {:include_blank => "TBD"} %> </td>
  </tr>
</table>

  <%= submit_tag 'Save Shift'%>
  <br>

<% end %>

<%= link_to 'Back', semester_path(@semester) %>
