<h2>Shift Market: </h2>


<%= form_tag do %>  
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>




<%= link_to 'Back', user_path(current_user) %>
